.btn {
  margin-top: 35px;
}

.btn__link {
  color: #FFFFFF;
  padding: 12px 25px 12px 25px;
  border-radius: 4px;
  background-color: $btn-bg;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 800px) {
  .btn {
    text-align: center;
    margin-top: 40px;
  }
}
