button {
  background: none;
  border: none;
}
.btn__link {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  padding: 12px 25px 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: $btn-bg;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.btn--novel {
  text-align: center;
}
.btn__link.btn--success {
  background-color: #86d993;
  margin-right: 16px;
}
.btn__link.btn--danger {
  background-color: #f5162c;
}
.report {
  cursor: pointer;
}
.report svg{
  color: #ff3640;
  opacity: 1;
  width: 20px;
  height: 20px;
}

