.header {
  @extend %wrapper;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav {
  & a{
    margin-right: 25px;
    color: $black-color;
    transition: color .3s;
  }
  & a:last-child {
    margin-right: 0;
  }
  & a:hover{
    color: rgba(0, 0, 0, 0.51);
  }
}

.header__logo {
  font-family: 'Montserrat', cursive;
  color: $logo-color;
  transition: color .3s;
  &:hover {
    color: rgb(0, 0, 0);
  }
}

.header__nav a:last-child {
  position: relative;
  margin-right: 15px;
}

// ADMIN
.header__nav-admin a:last-child .header__notification {
  position: absolute;
  top: -10px;
  padding: 5px 7px;
  font-size: .65rem;
  border-radius: 50%;
  background-color: #ff3640;
  color: white;
}

@media only screen and (max-width: 460px) {
  .header {
    display: block;
    text-align: center;
  }
  .header__nav {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 295px) {
  .header__nav-admin a:last-child {
    display: block;
    margin-top: 16px;
  }
}
