.dashboard, .header, .wrapper, .container {
  width: calc(100% - 40px);
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper_background {
  width: 100%;
  padding-left: calc(50% - calc(100% - 20px * 2) / 2);
  padding-right: calc(50% - calc(100% - 20px * 2) / 2);
}

@media only screen and (min-width: 1024px) {
  .wrapper_background {
    padding-left: calc(50% - 1024px / 2);
    padding-right: calc(50% - 1024px / 2);
  }
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #818198;
}

.wrapper {
  padding: 40px 0 100px 0;
}

.wrapper_background {
  background-color: #f8f9fa;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 1080px) {
  .wrapper {
    padding: 40px 0 40px 0;
  }
}
.light__title {
  text-transform: uppercase;
  font-size: 0.81rem;
  font-weight: 600;
  color: #4285f4;
  letter-spacing: 1px;
}

button {
  background: none;
  border: none;
}

.btn__link {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  padding: 12px 25px 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: #4285f4;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.btn--novel {
  text-align: center;
}

.btn__link.btn--success {
  background-color: #86d993;
  margin-right: 16px;
}

.btn__link.btn--danger {
  background-color: #f5162c;
}

.report {
  cursor: pointer;
}

.report svg {
  color: #ff3640;
  opacity: 1;
  width: 20px;
  height: 20px;
}

.flash {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.wrapper--flash {
  padding: 16px 0;
}

.danger {
  color: #FFFFFF;
  padding: 16px;
  background-color: rgba(255, 0, 0, 0.49);
  border-radius: 4px;
}

.success {
  color: #FFFFFF;
  padding: 16px;
  background-color: #86d993;
  border-radius: 4px;
}

.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav a {
  margin-right: 25px;
  color: #364655;
  transition: color 0.3s;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a:hover {
  color: rgba(0, 0, 0, 0.51);
}

.header__logo {
  font-family: "Montserrat", cursive;
  color: #959597;
  transition: color 0.3s;
}
.header__logo:hover {
  color: black;
}

.header__nav a:last-child {
  position: relative;
  margin-right: 15px;
}

.comment__link {
  position: relative;
}

.header__nav-admin .header__notification {
  position: absolute;
  top: -8px;
  right: -15px;
  padding: 5px 7px;
  font-size: 0.65rem;
  border-radius: 50%;
  background-color: #ff3640;
  color: white;
}

@media only screen and (max-width: 460px) {
  .header {
    display: block;
    text-align: center;
  }

  .header__nav {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 295px) {
  .header__nav-admin a:last-child {
    display: block;
    margin-top: 16px;
  }
}
.book {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.book__presentation {
  flex: 0 0 41%;
}

.book__presentation-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.37rem;
  font-weight: 700;
  color: #364655;
  line-height: 1.3;
}

.book__presentation-description {
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.book__presentation.btn {
  margin-top: 35px;
}

.book__img {
  flex: 0 0 50%;
  margin-left: 8.33%;
  max-width: 50%;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.welcome__title {
  margin: 0 auto 10px auto;
  font-weight: 700;
  font-size: 2.12rem;
  color: #364655;
  max-width: 540px;
  line-height: 1.3;
}

.welcome__description {
  line-height: 1.6;
  max-width: 540px;
  margin: 15px auto 15px auto;
  color: #5f6368;
}

.explanation {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 auto;
  justify-content: center;
}

.explanation__card {
  max-width: 300px;
  margin: 30px 20px;
  padding: 50px 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.explanation__card__img {
  width: 100%;
}
.explanation__card__img img {
  width: 60px;
}

.explanation__card__title {
  font-size: 1.31rem;
  color: #364655;
  margin-top: 25px;
  margin-bottom: 15px;
}

.explanation__card__description {
  line-height: 1.6;
  max-width: 320px;
}

@media only screen and (max-width: 800px) {
  .book__presentation.btn {
    text-align: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .book {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .book__presentation {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .book__img {
    margin: 40px 0 0 0;
    max-width: 100%;
    flex: none;
  }
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 40px 40px;
}

.form__container {
  width: 100%;
  max-width: 450px;
}

.login__form {
  margin-top: 25px;
  width: 100%;
}

.login__form__input {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #364655;
  padding: 10px 20px;
  outline: none;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #f0f4fd;
  margin-bottom: 35px;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.login__form__input:focus {
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.login__form .btn {
  text-align: center;
}

.book__presentation--center {
  flex: 100%;
  text-align: center;
}

.chapter__card {
  display: block;
  max-width: 350px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(203, 202, 202, 0.5);
}

.chapter__card:nth-child(even) {
  margin-left: auto;
  text-align: right;
}

.chapter__card:nth-child(even) .chapter__comment {
  text-align: left;
}

.chapter__title {
  font-weight: 700;
  font-size: 1.03rem;
  margin-bottom: 8px;
}

.chapter__excerpt {
  margin-bottom: 4px;
}

.chapter__comment {
  display: block;
  text-align: right;
  margin-bottom: 8px;
  color: #cbcaca;
}

@media only screen and (min-width: 750px) {
  .chapter__card {
    max-width: 700px;
    padding-top: 24px;
  }
}
.book__reading {
  color: #364655;
}

.book__reading .book__presentation-title {
  text-align: center;
  margin-bottom: 24px;
}

.book__reading p {
  margin: 16px 0;
  line-height: 1.3;
}

.comment__form {
  max-width: 700px;
  margin: 24px auto;
}

textarea.comment__form__input {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #364655;
  padding: 10px 20px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  border-radius: 8px;
  border: none;
  background-color: #f0f4fd;
  margin-bottom: 18px;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

textarea.comment__form__input:focus {
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.comment__form .btn {
  text-align: right;
}

.comment__container {
  max-width: 1000px;
  margin: 24px auto;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(203, 202, 202, 0.5);
}

.comment {
  margin: 16px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(203, 202, 202, 0.7);
}

.comment:first-child {
  margin-top: 0;
}

.comment:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #364655 !important;
}

.comment__title {
  text-transform: none;
  font-size: 0.9rem;
  margin-bottom: 16px;
  color: #364655 !important;
}

.comment__header svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  transition: 0.3s opacity, 0.3s color;
}

.comment__header svg:hover {
  color: #ff3640;
  opacity: 1;
}

.comment__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment__content {
  font-size: 0.95rem;
  line-height: 1.2;
  margin-bottom: 16px;
}

.comment__author {
  opacity: 0.55;
  font-size: 0.9rem;
}

.body__404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title__404 {
  font-size: 3rem;
  color: #4285f4;
}

.content__404 {
  font-size: 1.5rem;
}

.content__404 a {
  color: #5f6368;
  text-decoration: underline;
  transition: 0.3s color;
}

.content__404 a:hover {
  color: #364655;
}

.dashboard {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.dashboard.novel {
  margin-top: 0;
}

.dashboard .actions {
  display: flex;
  margin: 16px 0 24px auto;
}

.actions .btn:first-child {
  margin-right: 16px;
}

.actions .btn .btn__link {
  font-size: 0.85rem;
}

.dashboard .actions .btn .btn__link {
  display: block;
}

.dashboard table {
  text-align: left;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.dashboard thead {
  font-weight: 700;
  color: #364655;
}

button.dashboard__actions {
  background: none;
  border: none;
}

.dashboard__actions:first-child {
  margin-right: 15px;
}

.dashboard__icon {
  height: 17px;
  width: 17px;
  fill: #4285f4;
}

.dashboard__icon.dashboard__icon-red {
  fill: #ff3640;
}

.dashboard table tr th,
.dashboard table tr td {
  padding: 0.75rem 0;
}

.dashboard table tr td {
  border-top: 1px solid #dee2e6;
}

.dashboard table tr:nth-child(even) {
  background-color: #f3f3f3;
  color: #364655;
}

.dashboard.novel table tr td:nth-child(2) {
  position: relative;
}

.dashboard.novel table tr td:nth-child(2):before {
  content: "";
  position: absolute;
  left: -10px;
  top: 52%;
  transform: translateY(-52%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff3640;
}

.dashboard.novel table tr td:nth-child(2).active:before {
  background-color: #4fa837;
}

@media only screen and (max-width: 460px) {
  .dashboard .actions {
    margin: 20px auto;
    display: block;
  }

  .dashboard .actions .btn {
    margin-right: 0;
  }

  .dashboard .actions .btn:nth-child(even) {
    margin-top: 20px;
  }
}
.form__container {
  margin: 24px auto 24px auto;
}

.novel__form {
  margin-top: 25px;
  width: 100%;
}

textarea.login__form__input {
  max-width: 100%;
  min-height: 150px;
}

.toggle__box {
  display: none;
}

.toggle__box:checked + .toggle {
  background: #86d993;
}

.toggle__box:checked + .toggle::after {
  left: 50%;
}

.toggle__box + .toggle {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  border: 1px solid #e8eae9;
  outline: 0;
  display: block;
  width: 55px;
  height: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease;
}

.toggle__box + .toggle::after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 2em;
  background: #fbfbfb;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
}

.toggle__label {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.toggle__statut {
  margin-right: 8px;
}

/*# sourceMappingURL=main.css.map */
