.dashboard {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  @extend %wrapper;
}

.dashboard.novel {
  margin-top: 0;
}

.dashboard .actions {
  display: flex;
  margin: 16px 0 24px auto;
}

.actions .btn:first-child {
  margin-right: 16px;
}

.actions .btn .btn__link{
  font-size: .85rem;
}
.dashboard .actions .btn .btn__link {
  display: block;
}

.dashboard table {
  text-align: left;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.dashboard thead {
  font-weight: 700;
  color: $black-color;
}

.dashboard__actions:first-child {
   margin-right: 15px;
 }

.dashboard__icon {
  height: 17px;
  width: 17px;
  fill: $blue-title;
}

.dashboard__icon.dashboard__icon-red {
  fill: #ff3640;
}

.dashboard table tr th,
.dashboard table tr td {
  padding: .75rem 0;
}

.dashboard table tr td {
  border-top: 1px solid #dee2e6;
}

.dashboard table tr:nth-child(even) {
  background-color: #f3f3f3;
  color: $black-color;
}

.dashboard.novel table tr td:nth-child(2) {
  position: relative;
}

.dashboard.novel table tr td:nth-child(2):before {
  content: '';
  position: absolute;
  left: -10px;
  top: 52%;
  transform: translateY(-52%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff3640;
}

.dashboard.novel table tr td:nth-child(2).active:before {
  background-color: #4fa837;
}

@media only screen and (max-width: 460px) {
  .dashboard .actions {
    margin: 20px auto;
    display: block;
  }

  .dashboard .actions .btn {
    margin-right: 0;
  }

  .dashboard .actions .btn:nth-child(even) {
    margin-top: 20px;
  }
}

