.form__container {
  margin: 24px auto 24px auto;
}
.novel__form {
  margin-top: 25px;
  width: 100%;
}
textarea.login__form__input {
  max-width: 100%;
  min-height: 150px;
}
#tinyArea {
  min-height: 550px;
}
