%wrapper {
  width: calc(100% - 40px);
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

%wrapper_background {
  width: 100%;
  padding-left: calc(50% - calc(100% - 20px * 2) / 2);
  padding-right: calc(50% - calc(100% - 20px * 2) / 2);
}

@media only screen and (min-width: 1024px) {
  %wrapper_background {
    padding-left: calc(50% - 1024px / 2);
    padding-right: calc(50% - 1024px / 2);
  }
}
