// COLOR
// ==================
$color: #818198;
$black-color: #364655;
$logo-color: #959597;
$description-color: #5f6368;

// BACKGROUND-COLOR
// ==================
$wrapper-bg: #f8f9fa;

// Font-Size
// ==================
$fs: 16px;

// COMPONENTS
// ==================
$btn-bg: #4285f4;

